.game {
	// width: 100vw;
	// height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1rem;
}

.gameContent {
	display: flex;
	align-items: center;
	gap: 0px clamp(0.25rem, 1.25vw, 0.95rem);
}
