ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	padding: 0;
}

:root {
	--base-cell-size: 64px; // 64px
}

@media (max-width: 1200px) {
	:root {
		--base-cell-size: 56px; // 56px
	}
}

@media (max-width: 992px) {
	:root {
		--base-cell-size: 48px; // 48px
	}
}

@media (max-width: 768px) {
	:root {
		--base-cell-size: 40px; // 40px
	}
}

@media (max-width: 576px) {
	:root {
		--base-cell-size: 32px; // 32px
	}
}

// Для очень маленьких экранов
@media (max-width: 320px) {
	:root {
		--base-cell-size: 24px;
	}
}
