@import '../../styles/_variables.scss';

.files-list {
	list-style: none;
	display: flex;
	margin: 0;
	padding: 0;

	li {
		width: $cell-size;
		height: $cell-size;
		display: flex;
		justify-content: center;
	}
}
