.moveList__columns {
	display: flex;
	justify-content: space-between;
	width: clamp(4.5rem, 10vw, 7.875rem);
}

.moveList {
	width: calc(clamp(4.5rem, 10vw, 7.875rem) + var(--base-cell-size) - var(--base-cell-size) / 2);
	height: calc((var(--base-cell-size) * 8) / 2);
	overflow: auto;
	align-self: flex-start;
}
