.app {
	width: 100vw;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.playContent {
	display: flex;
	align-items: center;
	gap: 0px clamp(0.25rem, 1.25vw, 0.95rem);
}
