@import '../../styles/_variables.scss';

.black {
	background-color: $black-cell-color;
}

.white {
	background-color: $white-cell-color;
}

.cell {
	// position: relative;
	width: $cell-size;
	height: $cell-size;
	display: flex;
	justify-content: center;
	align-items: center;
	transition: background 0.1s ease;

	img {
		width: 64px;
		height: 64px;
	}
}

.selected {
	background: $highlight-color;
}

.selected-from-move {
	background: $selected-from-move-color;
}
.selected-to-move {
	background: $selected-to-move-color;
}

.available {
	width: 15px;
	height: 15px;
	background: $highlight-color;
	border-radius: 50%;
}

.attacked-white {
	background: $highlight-gradient;
	background-color: $white-cell-color;
}

.attacked-black {
	background: $highlight-gradient;
	background-color: $black-cell-color;
}

.shah-white {
	background: $shah-gradient;
	background-color: $white-cell-color;
}

.shah-black {
	background: $shah-gradient;
	background-color: $black-cell-color;
}

.shah-selected-white {
	background: $shah-selected-gradient;
	background-color: $white-cell-color;
}

.shah-selected-black {
	background: $shah-selected-gradient;
	background-color: $black-cell-color;
}
