.promotion {
	position: absolute;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
		li {
			background-color: #fff;
			border-radius: 10%;

			&:hover {
				background: radial-gradient(circle, transparent 0%, transparent 79%, rgba(20, 85, 0, 0.3) 80%);
				background-color: #fff;
			}

			img {
				width: 64px;
				height: 64px;
			}
		}
	}

	// &__list {
	// 	&-item {
	// 		background-color: #fff;
	// 		border-radius: 10%;
	// 	}
	// }
}
