@import '../../styles/_variables.scss';

.promotion {
	position: absolute;
	ul {
		padding: 0;
		margin: 0;
		li {
			background-color: #fff;
			border-radius: 10%;
			width: $cell-size;
			height: $cell-size;
			&:hover {
				background: $highlight-gradient;
				background-color: #fff;
			}

			img {
				width: $cell-size;
				height: $cell-size;
			}
		}
	}
	button {
		width: $cell-size;
		height: $cell-size;
	}
}
