@import '../../styles/_variables.scss';

.promotion {
	position: absolute;
	ul {
		padding: 0;
		margin: 0;
		li {
			background-color: #fff;
			border-radius: 10%;

			&:hover {
				background: $highlight-gradient;
				background-color: #fff;
			}

			img {
				width: $cell-size;
				height: $cell-size;
			}
		}
	}

	// &__list {
	// 	&-item {
	// 		background-color: #fff;
	// 		border-radius: 10%;
	// 	}
	// }
}
