ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

button {
	padding: 0;
}

:root {
	--base-cell-size: 4rem; // 56px
}

@media screen and (max-width: 1200px) {
	:root {
		--base-cell-size: 3.5rem; // 56px
	}
}

@media screen and (max-width: 992px) {
	:root {
		--base-cell-size: 3rem; // 48px
	}
}

@media screen and (max-width: 768px) {
	:root {
		--base-cell-size: 2.5rem; // 40px
	}
}

@media screen and (max-width: 576px) {
	:root {
		--base-cell-size: 2rem; // 32px
	}
}

// Для очень маленьких экранов
@media screen and (max-width: 320px) {
	:root {
		--base-cell-size: 1.5rem;
	}
}
