.game-list__item {
	margin-bottom: clamp(0.8rem, 1vw, 1rem);
	background-color: #f3f6fa;
	border-radius: 5px;
	padding: clamp(0.8rem, 2vw, 1.5rem);
	transition: background-color 0.2s ease;
	font-size: clamp(0.9rem, 1.5vw, 1.2rem);

	&:hover {
		background-color: #1976d2;
		cursor: pointer;
	}
}
